.footer {
    background-color: #1D1D1D;
    margin-top: 40px;
    position: relative;

    &__content {
        padding: unset;
        color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 70px;
    }

    &__part {
        // width: calc(33.33%);

    }

    &__center {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: calc((196px * 3) + (91px * 2));
        width: 100%;


    }

    &__block {
        max-width: 196px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 13px;

        &:nth-child(1)>.footer__item {
            font-weight: 500;
        }
    }

    &__item {
        font-size: 13px;
        font-style: normal;
        font-weight: 300;

        &:nth-child(1) {
            color: rgba(255, 255, 255, 0.40);
            font-size: 15px;
            font-weight: 400;
            line-height: 130%;
            letter-spacing: 0.75px;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 11px;
        font-size: 13px;
        font-style: normal;
        font-weight: 300;

    }

    &__socials {
        margin-top: 20px;
        position: unset;
        flex-direction: row;
        gap: 34px;
        max-height: unset;
        height: unset;
        justify-content: unset;
    }

    &__politica {
        margin-top: 90px;
        font-size: 11px;
        font-weight: 400;
        line-height: 130%;
        text-decoration-line: underline;
        color: #fff;
        text-align: end;
    }
}

.footer__part.footer__left {
    max-width: 147px;
}

.footer__part.footer__right {
    address {
        text-align: end;
    }
    p {
        text-align: end;
    }
}

@media (max-width: 1500px) {
    .footer-container {
        padding: 43px 110px;
    }

    .nav__item.footer__item.footer__title {
        font-size: 11.24px;
    }

    .nav__item.footer__item {
        font-size: 9.74px;
    }

    .footer__part.footer__left {
        max-width: 110px;
    }

    .footer__block.footer__nav {
        max-width: 147px;
    }

    .footer__part.footer__right {
        font-size: 9.74px;
    }

    .footer__socials.socials {
        gap: 18px;

        .socials__item {
            width: 27.74px;
            height: 27.74px;

            .socials__ico {
                width: 13px;
                height: 13px;
            }
        }
    }

    .footer__politica {
        font-size: 8.25px;
        margin-top: 67px;
    }
}

@media (max-width: 1150px) {
    .footer-container {
        padding: 30px 78px;
    }

    .nav__item.footer__item.footer__title {
        font-size: 10px;
    }

    .nav__item.footer__item {
        font-size: 9px;
    }

    .footer__part.footer__left {
        max-width: 79px;
    }

    .footer__block.footer__nav {
        max-width: 121px;
    }

    .footer__part.footer__right {
        font-size: 9px;
    }

    .footer__socials.socials {

        .socials__item {
            width: 19.74px;
            height: 19.74px;

            .socials__ico {
                width: 9px;
                height: 9px;
            }
        }
    }

    .footer__politica {
        font-size: 7px;
        margin-top: 48px;
    }
}

@media(max-width: 1000px) {
    .footer-container {
        padding: 60px 77px 63px;
    }

    .footer__part.footer__left {
        max-width: 180px;
    }

    .footer__part.footer__right {
        font-size: 10.73px;
    }
}

@media(max-width: 630px) {
    .footer-container {
        padding: 23px 30px;
    }
    .footer__part.footer__left {
        max-width: 76.05px;
    }
    .footer__part.footer__right {
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 0.209px;
    }
    .footer__socials.socials {

        .socials__item {
            width: 19.74px;
            height: 19.74px;

            .socials__ico {
                width: 9px;
                height: 9px;
            }
        }
    }
}