.switcher {
    position: absolute;
    max-width: 210px;
    width: 100%;
    height: 113px;
    transition: 2.5s;

    &__holder {
        transition: 0.3s;
        backdrop-filter: blur(10px);
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }
    &__toggler {
        transition: 1.5s;
        // transition-delay: .5s;
        position: absolute;
        width: 95px;
        height: 85%;
        background-color: #fff;
        border-radius: 100%;
        margin-left: 10px;
        margin-right: 10px;
        &--scroll {
            transform: translateX(100%);
            .rama::before {content: none;}

        }
    }

}




@media(max-width: 1000px) {
    .switcher {
        max-width: 150px;
        height: 53px;

        &__toggler {
            width: 63px;
            height: 75%;
        }
    }
}