.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    transition: .2s;
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 70%;
    max-width: 800px;
    @media (max-width:1000px) {
        width: 90%;
    }
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
    z-index: 1;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

video {
    width: 100%;
    height: auto;
}