.button {
    max-width: 180px;
    width: 100%;
    padding: 11px 0;
    border-radius: 51px;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    cursor: pointer;

    @media (max-width: 1750px) {
        font-size: 8.25px;
        letter-spacing: 0.825px;
        max-width: 135px;
    }

    @media (max-width: 1325px) {
        font-size: 6.867px;
        letter-spacing: 0.587px;
        padding-left: 10px;
        padding-right: 10px;

    }
}

.button.button_transparent {
    border: 1px solid $purple-text;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: $purple-text;
    transition: 0.3s all;
}

.button.button_transparent:hover {
    border: 1px solid rgba(154, 125, 192, 0.80);
    color: rgba(154, 125, 192, 0.80);
    filter:(rgba(154, 125, 192, 0.8));
}

.button.button_transparent:active {
    border: 1px solid rgba(82, 11, 174, 0.80);
    color: #ffff;
    background-color: #B081CB;
    transition: 0.3s all;
}

.button.button_purple-text {
    background: $purple-to-pink;
    color: #fff;

    &--submit {
        //max-width: unset;
        @media(max-width: 1000px) {
            font-size: 12px;
            max-width: 320px;
        }
    }
}

.button.button_purple-text:hover {
    background: rgba(139, 118, 145, 1);
    color: rgba(188, 188, 188, 1);
}

.button.button_purple-text:active {
    background: linear-gradient(84deg, #1D0C33 1.12%, #654293 134.38%);
    color: #fff;
}

.button_submit {
    @media (max-width: 650px) {
        max-width: unset;
        width: 100%;
        height: 43px;
        border-radius: 11px;
        font-size: 18px;
        font-style: normal;
        //font-weight: 700;
        text-transform: unset;
    }
}