.menu-items-txt {
    white-space: nowrap;
    color: $purple-text;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.72px;
    text-transform: uppercase;

    @media (max-width: 1750px) {
        font-size: 9px;
        letter-spacing: 0.54px;
    }

    @media (max-width: 1325px) {
        font-size: 6.4px;
        letter-spacing: 0.384px;
    }
}

.menu-contacts-txt {
    color: $purple-text;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title {
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -2.1px;
    background: linear-gradient(90deg, #FBC2EB 0%, #A18CD1 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    // @media(max-width: 1440px) {
    //     max-width: 685px;
    //     font-size: 52px;

    // }
}