.container-page-margin {
    width: calc(100vw - 56px);
    // max-width: 1825px;
    height: calc(100vh - 36px);
    // margin: 0 auto;
    position: relative;
    max-height: 969px;
    max-width: 1825px;
    margin: 0 auto;

}

.container-page {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container-content {
    padding: 30px 100px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.container-relative {
    width: 100%;
    height: 100%;
    position: relative;
}

.absolutX-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.abolusteY-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
